<main class="container d-flex align-items-center justify-content-center altura">
  <div class="row">
    <!-- columna izquierda -->
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-12 col-lg-8 p-2">
          <article class="card h-100 bg-primary text-white shadow-sm fondo-card">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img src="../assets/image-daniel.jpg" alt="" class="border border-secondary border-4 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0 h6">Lorem, ipsum.</h6>
                  <p class="m-0 h6">Lorem, ipsum dolor.</p>
                </div>
              </div>
              <p class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis itaque eveniet alias
                aliquam!
                Voluptates quos sapiente vitae laborum eligendi voluptate perspiciatis natus, nulla possimus, harum
                velit delectus sit doloremque voluptatum?</p>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-4 p-2">
          <article class="card h-100 bg-success text-white shadow-sm">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img src="../assets/image-jeanette.jpg" alt="" class="border border-secondary border-4 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0 h6">Lorem, ipsum.</h6>
                  <p class="m-0 h6">Lorem, ipsum dolor.</p>
                </div>
              </div>
              <p class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis itaque eveniet alias
                aliquam!
              </p>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-4 p-2">
          <article class="card h-100 bg-secondary shadow-sm">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img src="../assets/image-jonathan.jpg" alt="" class="border border-secondary border-4 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0 h6">Lorem, ipsum.</h6>
                  <p class="m-0 h6">Lorem, ipsum dolor.</p>
                </div>
              </div>
              <p class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis itaque eveniet alias
                aliquam!
                Voluptates quos sapiente vitae laborum eligendi voluptate perspiciatis natus, nulla possimus, harum
                velit delectus sit doloremque voluptatum?</p>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-8 p-2">
          <article class="card h-100 bg-dark text-white shadow-sm">
            <div class="card-body">
              <div class="d-flex mb-3">
                <img src="../assets/image-kira.jpg" alt="" class="border border-secondary border-4 rounded-circle">
                <div class="ps-3">
                  <h6 class="m-0 h6">Lorem, ipsum.</h6>
                  <p class="m-0 h6">Lorem, ipsum dolor.</p>
                </div>
              </div>
              <p class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis itaque eveniet alias
                aliquam!
                Voluptates quos sapiente vitae laborum eligendi voluptate perspiciatis natus, nulla possimus, harum
                velit delectus sit doloremque voluptatum?</p>
            </div>
          </article>
        </div>
      </div>
    </div>

    <!-- columna derecha -->
    <div class="col-12 col-lg-3 p-2">
      <article class="card h-100 bg-secondary shadow-sm">
        <div class="card-body">
          <div class="d-flex mb-3">
            <img src="../assets/image-patrick.jpg" alt="" class="border border-secondary border-4 rounded-circle">
            <div class="ps-3">
              <h6 class="m-0 h6">Lorem, ipsum.</h6>
              <p class="m-0 h6">Lorem, ipsum dolor.</p>
            </div>
          </div>
          <p class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis itaque eveniet alias
            aliquam!
            Voluptates quos sapiente vitae laborum eligendi voluptate perspiciatis natus, nulla possimus, harum
            velit delectus sit doloremque voluptatum?</p>
          <p class="fs-6 lh-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio porro doloribus
            et id nemo
            doloremque, expedita voluptatibus debitis ipsam voluptate! Adipisci eum dicta magnam voluptatum animi
            illo omnis nemo quos?</p>
        </div>
      </article>
    </div>
  </div>
</main>